<table class="pins" rules="none">
  <thead></thead>
  <tbody>
    <tr>
      <td style="text-align: center" colspan="4">
        <input type="radio" />
      </td>
    </tr>
    <tr>
      <td></td>
      <td><input type="radio" /></td>
      <td><input type="radio" /></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="4">
        <table class="pins center" rules="none">
          <tbody>
            <tr>
              <td><input type="radio" /></td>
              <td><input type="radio" /></td>
              <td><input type="radio" /></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td><input type="radio" /></td>
      <td><input type="radio" /></td>
      <td><input type="radio" /></td>
      <td><input type="radio" /></td>
    </tr>
  </tbody>
</table>
