<div class="pins-container">
  <div class="pin fourth-row center-col">{{$ctrl.symbol($ctrl.pins.one)}}</div>
  <div class="pin third-row first-col-left">{{$ctrl.symbol($ctrl.pins.two)}}</div>
  <div class="pin third-row first-col-right">{{$ctrl.symbol($ctrl.pins.three)}}</div>
  <div class="pin second-row second-col-left">{{$ctrl.symbol($ctrl.pins.four)}}</div>
  <div class="pin second-row center-col">{{$ctrl.symbol($ctrl.pins.five)}}</div>
  <div class="pin second-row second-col-right">{{$ctrl.symbol($ctrl.pins.six)}}</div>
  <div class="pin first-row third-col-left">{{$ctrl.symbol($ctrl.pins.seven)}}</div>
  <div class="pin first-row first-col-left">{{$ctrl.symbol($ctrl.pins.eight)}}</div>
  <div class="pin first-row first-col-right">{{$ctrl.symbol($ctrl.pins.nine)}}</div>
  <div class="pin first-row third-col-right">{{$ctrl.symbol($ctrl.pins.ten)}}</div>
</div>