<table class="main">
  <thead></thead>
  <tbody>
    <tr>
      <td colspan="4">1</td>
    </tr>
    <tr>
      <td></td>
      <td>2</td>
      <td>3</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="4">
        <table class="center">
          <tbody>
            <tr>
              <td>4</td>
              <td>5</td>
              <td>6</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
    </tr>
  </tbody>
</table>

<table class="main">
  <thead></thead>
  <tbody>
    <tr>
      <td colspan="4">◯</td>
    </tr>
    <tr>
      <td></td>
      <td>◯</td>
      <td>◯</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="4">
        <table class="center">
          <tbody>
            <tr>
              <td>◯</td>
              <td>◯</td>
              <td>◯</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>◯</td>
      <td>◯</td>
      <td>◯</td>
      <td>◯</td>
    </tr>
  </tbody>
</table>

<table class="main">
  <thead></thead>
  <tbody>
    <tr>
      <td colspan="4">⦿</td>
    </tr>
    <tr>
      <td></td>
      <td>⦿</td>
      <td>⦿</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="4">
        <table class="center">
          <tbody>
            <tr>
              <td>⦿</td>
              <td>⦿</td>
              <td>⦿</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>⦿</td>
      <td>⦿</td>
      <td>⦿</td>
      <td>⦿</td>
    </tr>
  </tbody>
</table>
