<table class="pins" rules="none">
  <thead></thead>
  <tbody>
    <tr>
      <td style="text-align: center" colspan="4">
        {{$ctrl.symbol($ctrl.pins.one)}}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>{{$ctrl.symbol($ctrl.pins.two)}}</td>
      <td>{{$ctrl.symbol($ctrl.pins.three)}}</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="4">
        <table class="pins center" rules="none">
          <tbody>
            <tr>
              <td>{{$ctrl.symbol($ctrl.pins.four)}}</td>
              <td>{{$ctrl.symbol($ctrl.pins.five)}}</td>
              <td>{{$ctrl.symbol($ctrl.pins.six)}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>{{$ctrl.symbol($ctrl.pins.seven)}}</td>
      <td>{{$ctrl.symbol($ctrl.pins.eight)}}</td>
      <td>{{$ctrl.symbol($ctrl.pins.nine)}}</td>
      <td>{{$ctrl.symbol($ctrl.pins.ten)}}</td>
    </tr>
  </tbody>
</table>
