.top { 
    background-color: Yellow;
    color: Blue;
}

.bb {
    background-color: Blue;
    color: White;
}
.ts {
    text-align: center;
    font-weight: bold;
}

table tr td { 
    border: 1px solid black; 
}

.hardSpare { 
    border-width: 2px;
    border-color: red;
}

.strike {
    font-weight: bold;
    text-align: center;
    color: red;
}

.hdp {
    font-size: small;
    background-color: grey;
    color: Blue;
}