<table id="scoresTable" class="bb">
  <thead>
    <tr style="text-align: center">
      <th colspan="2">Date</th>
      <th colspan="2">1</th>
      <th colspan="2">2</th>
      <th colspan="2">3</th>
      <th colspan="2">4</th>
      <th colspan="2">5</th>
      <th colspan="2">6</th>
      <th colspan="2">7</th>
      <th colspan="2">8</th>
      <th colspan="2">9</th>
      <th colspan="3">10</th>
      <th>Total</th>
      <th ng-if="$ctrl.isleague">Total</th>
    </tr>
  </thead>
  <tbody ng-repeat="score in $ctrl.scores | orderBy:'-id' | filter:searchText">
    <!--,league -->
    <tr class="top">
      <td colspan="2" rowspan="2" class="bb">
        {{score.date | toDate | date:'mediumDate'}}
      </td>
      <!-- <td colspan="2" rowspan="2" class="bb">{{score.date | date:'d MMM yyyy'}}</td> -->
      <td ng-class="$ctrl.getClass(score.Score1a);">
        {{$ctrl.trim(score.Score1a)}}
      </td>
      <td>{{$ctrl.trim(score.Score1b)}}</td>
      <td ng-class="$ctrl.getClass(score.Score2a);">
        {{$ctrl.trim(score.Score2a)}}
      </td>
      <td>{{$ctrl.trim(score.Score2b)}}</td>
      <td ng-class="$ctrl.getClass(score.Score3a);">
        {{$ctrl.trim(score.Score3a)}}
      </td>
      <td>{{$ctrl.trim(score.Score3b)}}</td>
      <td ng-class="$ctrl.getClass(score.Score4a);">
        {{$ctrl.trim(score.Score4a)}}
      </td>
      <td>{{$ctrl.trim(score.Score4b)}}</td>
      <td ng-class="$ctrl.getClass(score.Score5a);">
        {{$ctrl.trim(score.Score5a)}}
      </td>
      <td>{{$ctrl.trim(score.Score5b)}}</td>
      <td ng-class="$ctrl.getClass(score.Score6a);">
        {{$ctrl.trim(score.Score6a)}}
      </td>
      <td>{{$ctrl.trim(score.Score6b)}}</td>
      <td ng-class="$ctrl.getClass(score.Score7a);">
        {{$ctrl.trim(score.Score7a)}}
      </td>
      <td>{{$ctrl.trim(score.Score7b)}}</td>
      <td ng-class="$ctrl.getClass(score.Score8a);">
        {{$ctrl.trim(score.Score8a)}}
      </td>
      <td>{{$ctrl.trim(score.Score8b)}}</td>
      <td ng-class="$ctrl.getClass(score.Score9a);">
        {{$ctrl.trim(score.Score9a)}}
      </td>
      <td>{{$ctrl.trim(score.Score9b)}}</td>
      <td ng-class="$ctrl.getClass(score.Score10a);">
        {{$ctrl.trim(score.Score10a)}}
      </td>
      <td>{{$ctrl.trim(score.Score10b)}}</td>
      <td>{{$ctrl.trim(score.Score10c)}}</td>
      <td class="hdp">{{score.hcp}}</td>
      <td ng-if="$ctrl.isleague" rowspan="2" class="bb ts">
        {{(+score.Score10)+(+score.hcp)}}
      </td>
    </tr>

    <tr style="text-align: center">
      <td colspan="2">{{score.Score1}}</td>
      <td colspan="2">{{score.Score2}}</td>
      <td colspan="2">{{score.Score3}}</td>
      <td colspan="2">{{score.Score4}}</td>
      <td colspan="2">{{score.Score5}}</td>
      <td colspan="2">{{score.Score6}}</td>
      <td colspan="2">{{score.Score7}}</td>
      <td colspan="2">{{score.Score8}}</td>
      <td colspan="2">{{score.Score9}}</td>
      <td colspan="3">{{score.Score10}}</td>
      <td class="bb ts">{{score.Score10}}</td>
    </tr>
  </tbody>
</table>
